# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
we will learn 
- the popular languages for Data Science
- Some commonly used libraries
- Data science Tools
- a few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Nunpy
3. Scipy
4. Matplotb

|Data Science Tools|
|------------------|
|Jupyter Lite|
|Google Colaboratory|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [16]:
# this will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Diana Sarmiento
Author